<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                               https://jakarta.ee/xml/ns/jakartaee/web-app_4_0.xsd">
    <!-- User List -->
    <servlet>
        <servlet-name>UserListServlet</servlet-name>
        <servlet-class>controller.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperationProcedureServlet</servlet-name>
        <servlet-class>controller.OperationProcedureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OperationPolicyServlet</servlet-name>
        <servlet-class>controller.OperationPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeeConfigurationServlet</servlet-name>
        <servlet-class>controller.FeeConfigurationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOperationProceduresServlet</servlet-name>
        <servlet-class>controller.AddOperationProceduresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddOperationPoliciesServlet</servlet-name>
        <servlet-class>controller.AddOperationPoliciesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeeConfigurationsServlet</servlet-name>
        <servlet-class>controller.AddFeeConfigurationsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportProcedureServlet</servlet-name>
        <servlet-class>controller.ExportProcedureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportPolicyServlet</servlet-name>
        <servlet-class>controller.ExportPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportFeeServlet</servlet-name>
        <servlet-class>controller.ExportFeeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProcedureServlet</servlet-name>
        <servlet-class>controller.AddProcedureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProcedureServlet</servlet-name>
        <servlet-class>controller.EditProcedureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProcedureServlet</servlet-name>
        <servlet-class>controller.DeleteProcedureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPolicyServlet</servlet-name>
        <servlet-class>controller.AddPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditPolicyServlet</servlet-name>
        <servlet-class>controller.EditPolicyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePolicyServlet</servlet-name>
        <servlet-class>controller.DeletePolicyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserListServlet</servlet-name>
        <url-pattern>/UserListServlet</url-pattern>
    </servlet-mapping>
    <!-- Customer List -->
    <servlet>
        <servlet-name>CustomerListServlet</servlet-name>
        <servlet-class>controller.CustomerListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerListServlet</servlet-name>
        <url-pattern>/CustomerListServlet</url-pattern>
    </servlet-mapping>
    <!-- Add User (dùng cho cả Staff và Operator) -->
    <servlet>
        <servlet-name>AddUserServlet</servlet-name>
        <servlet-class>controller.AddUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/Operator/AddUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUserServlet</servlet-name>
        <url-pattern>/Staff/AddUserServlet</url-pattern>
    </servlet-mapping>
    <!-- Delete User -->
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/Operator/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperationProcedureServlet</servlet-name>
        <url-pattern>/OperationProcedureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OperationPolicyServlet</servlet-name>
        <url-pattern>/OperationPolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeeConfigurationServlet</servlet-name>
        <url-pattern>/FeeConfigurationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOperationProceduresServlet</servlet-name>
        <url-pattern>/AddOperationProceduresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddOperationPoliciesServlet</servlet-name>
        <url-pattern>/AddOperationPoliciesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeeConfigurationsServlet</servlet-name>
        <url-pattern>/AddFeeConfigurationsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportProcedureServlet</servlet-name>
        <url-pattern>/ExportProcedureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportPolicyServlet</servlet-name>
        <url-pattern>/ExportPolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportFeeServlet</servlet-name>
        <url-pattern>/ExportFeeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProcedureServlet</servlet-name>
        <url-pattern>/AddProcedureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProcedureServlet</servlet-name>
        <url-pattern>/EditProcedureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProcedureServlet</servlet-name>
        <url-pattern>/DeleteProcedureServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPolicyServlet</servlet-name>
        <url-pattern>/AddPolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditPolicyServlet</servlet-name>
        <url-pattern>/EditPolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePolicyServlet</servlet-name>
        <url-pattern>/DeletePolicyServlet</url-pattern>
    </servlet-mapping>
</web-app>
